In [2]:
import pandas as pd
#import numpy as np

In [40]:
pr = pd.io.excel.read_excel("prerequisites.xlsx")
pr

    ME2120  ME3120 ME2120.1
0   ME1040  ME2120  MTH1234
1  EGR1010     NaN      NaN

In [4]:
list(pr)

['ME2120', 'ME3120', 'ME2120.1']

In [5]:
pr['ME2120']

0     ME1040
1    EGR1010
Name: ME2120, dtype: object

In [6]:
[x for x in list(pr) if 'ME2120' in x]

['ME2120', 'ME2120.1']

In [7]:
print(lambda x: 'ME2120' in x, ['ME2120', 'ME3120', 'ME2120.1'])

<function <lambda> at 0x1084b6598> ['ME2120', 'ME3120', 'ME2120.1']

In [8]:
'ME2120' in ['ME2120', 'ME3120', 'ME2120.1']

True

In [9]:
'.' in 'ME2120'

False

In [11]:
for class_name in preqs['ME2120']:
    print(type(class_name))
    print(class_name)

NameError: name 'preqs' is not defined

In [11]:
from prereq_config import *

In [12]:
prereqfilename

'prerequisites.xlsx'

In [12]:
list(pr)

['ME2120', 'ME3120', 'ME2120.1']

In [15]:

pr = pd.io.excel.read_excel("prerequisites.xlsx")
preqs = dict()
for class_name in set(list(pr)):
    #print(class_name)
    if '.' not in class_name:
        all_columns_with_class = [x for x in list(pr) if class_name in x]
        #print(pr[class_name])
        #print(len(list(pr[class_name])))
        #print(all_columns_with_class)
        if len(all_columns_with_class) is 1:
            #print('hi')
            #print(class_name)
            #preqs[class_name] = pr[class_name]
            #print(list(pd.Series.dropna(pr[class_name])))
            preqs[class_name] = tuple([list(pd.Series.dropna(pr[class_name]))]) 
            #print(preqs[class_name])  
            #print(preqs)
        else:
            for num, class_case in enumerate(all_columns_with_class):
                #print(num)
                #print(class_case)
                #print('.')
                if class_name is class_case:
                    preqs[class_name] = [list(pd.Series.dropna(pr[class_case]))]
                    #print(preqs[class_name])
                else:
                    #print(num)
                    #print(list(pd.Series.dropna(pr[class_case])))
                    preqs[class_name].append(list(pd.Series.dropna(pr[class_case])))
                    preqs[class_name][num] = list(pd.Series.dropna(pr[class_case]))
            preqs[class_name] = tuple(preqs[class_name])
for key in preqs:
    print(preqs[key])

(['ME2120'],)
(['ME1040', 'EGR1010'], ['MTH1234'])

In [4]:
preqs

{'ME2120': (['ME1040', 'EGR1010'], ['MTH1234']), 'ME3120': (['ME2120'],)}

In [67]:
tuple([preqs['ME2120']])

(['ME1040', 'EGR1010'],)

In [15]:
preqs['ME2120'] = ['ME1040', 'EGR1010']

In [116]:
del preqs['me3120']

In [27]:
pr

    ME2120  ME3120
0   ME1040  ME2120
1  EGR1010     NaN

In [21]:
tuple([['ME1040', 'EGR1010']])

(['ME1040', 'EGR1010'],)

In [50]:
list(pd.Series.dropna(pr['ME3120']))

['ME2120']

In [55]:
df = pd.DataFrame([[1,2],[3,4],[5,6]], columns=['a','a'])

In [59]:
len(list(df['a']))

2

In [60]:
list(df)

['a', 'a']

In [61]:
set(list(df))

{'a'}

In [31]:
df

NameError: name 'df' is not defined